.contallSongs {
  box-sizing: border-box;
  width: 47.5%;
  height: 348px;
  margin: 0 0 0 2.5%;
  float: left;
  border: 1px solid $primaryColor;
  overflow: hidden;
}

.allsongs {
  width: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: scroll;
}