.cont__form-nav {
  text-align: center;
}

.songs-header {
  width: 94.7%;
  margin: 2% auto 0 auto;
  border: 1px solid $primaryColor;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#formSort {
  margin-left: -10%;
}