.column {
  float: left;
  width: 47.5%;
}

.column-left {
  box-sizing: border-box;
  width: 50%;
  height: 300px;
  float: left;
  border: 1px solid #FF00E4;
  padding: 2%;
}

.column-right {
  box-sizing: border-box;
  width:50%;
  height: 300px;
  float: left;
  border: 1px solid #FF00E4;
  padding: 2%;
}

.form-import {
  border: 1px solid #FF00E4;
  margin: 2.5% 0;
  height: 300px;
  h3 {
    color: white;
  }
}

.formTitle {
  color: #FF00E4;
  margin-left: 5%;
  font-weight: 200;
  position: absolute;
  top: 2%;
}

label {
  color: white;
  float: left;
}

label, input {
  display: block;
  margin: 0 25px 25px 25px;
}
