audio {
  width: 40%;
  background-color: #FF00E4;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  box-shadow: 2px 2px 25px 2px #FF00E4;
  border-radius: none;
  position: absolute;
  bottom: 0;
}

audio::-webkit-media-controls-mute-button {
  display: none;
}

audio::-webkit-media-controls-play-button {
  display: none;
}
 
audio::-webkit-media-controls-panel {
  background-color: #FF00E4;
}

audio::-webkit-media-controls-toggle-closed-captions-button{
  display: none;
}

.cont-audio {
  display: flex;
  justify-content: center;
}

.contSongInfo { 
  width: 20%;
  position: absolute;
  right: 5%;
  bottom: 5%;
  color: white;
  margin-right: 5%;
}
.playingTitle {
  padding: 10px;
  font-size: 20px;
  color: #FF00E4;
}
.playingAlbum {
  padding: 15px;
} 
.playingArtist {
  padding: 15px;
}