audio {
  width: 40%;
  background-color: $primaryColor;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  box-shadow: 2px 2px 25px 2px $primaryColor;
  border-radius: none;
  position: absolute;
  bottom: 0;
}

audio::-webkit-media-controls-mute-button {
  display: none;
}

audio::-webkit-media-controls-play-button {
  display: none;
}
 
audio::-webkit-media-controls-panel {
  background-color: $primaryColor;
}

audio::-webkit-media-controls-toggle-closed-captions-button{
  display: none;
}

.cont-audio {
  display: flex;
  justify-content: center;
}

.contSongInfo { 
  width: 20%;
  position: absolute;
  right: 5%;
  bottom: -20%;
  color: white;
  margin-right: 5%;
}
.playingTitle {
  padding: 10px;
  font-size: 25px;
  color: $primaryColor;
  padding-bottom: 0;
}
.playingAlbum {
  padding: 15px;
  padding-bottom: 0;
} 
.playingArtist {
  padding: 15px;
  padding-bottom: 0;
}