audio {
  width: 40%;
  background-color: white;
  -webkit-transition:all 0.5s linear;
  -moz-transition:all 0.5s linear;
  -o-transition:all 0.5s linear;
  transition:all 0.5s linear;
  box-shadow: 2px 2px 25px 2px #FF00E4;
  border-radius: none;
}

audio::-webkit-media-controls-mute-button {
  display: none;
}

audio::-webkit-media-controls-play-button {
  display: none;
}
audio::-webkit-media-controls-toggle-closed-captions-button {
  background-color: red;
}

audio::-webkit-media-controls-panel {
  background-color: white;
}

audio::-webkit-media-controls-toggle-closed-captions-button{
  display: none;
}

.cont-audio {
  display: flex;
  justify-content: center;
}
