@media (max-width: $breakpoint-lg){
}
body {
  font-family: 'Oswald', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.hidde {
  display: none;
}

#container {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}