@media (max-width: $breakpoint-lg){
}
body {
  font-family: 'Oswald', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.show {
  display: block;
}

.hidde {
  display: none;
}

#container {
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $primaryColor; 
}

.songActive {
  color: $primaryColor !important;
}