button {
  background-color: transparent;
  margin: 1% 5%;
  color: white;
  &:focus {
    outline:0px;
  }
}

.btn {
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  transition: 0.5s;
  &:hover {
    box-shadow: 2px 2px 25px 2px #FF00E4;
  }
}

.btn-play {
  background-image: url('../img/play.svg');

}

.btn-pause {
  background-image: url('../img/pause.svg');
}

.btn-back {
  background-image: url('../img/back.svg');
}

.btn-next {
  background-image: url('../img/next.svg');
}

.btn-header {
  margin: 15px;
  margin-bottom: 0;
  width: 10%;
  padding: 10px;
  transition: 0.5s;
  font-size: 20px;
  &:hover {
    box-shadow: 2px 2px 25px 2px #FF00E4;
    transition: 0.5s;
  }
}

.form-btn {
  display: inline-block;
  background-color: transparent;
  transition: 0.5s;
  color: white;
  padding: 10px 20px;
  margin: 1% 10%;
  border: 1px solid #FF00E4;
  &:hover {
    transition: 0.5s;
    background-color: #FF00E4;
    border: 1px solid white;
  }
}

.delite, .edit {
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0.5% 50px;
  height: 30px;
  border: 1px solid #FF00E4;
  transition: 0.5s;
  margin: 0.5% 4%;
  &:hover {
    box-shadow: 2px 2px 25px 2px #FF00E4;
  }
}

.formSort {
  margin: 0.6%;
  position: absolute;
  left: 10%;
  top: 0;
}
.cont-search {
  margin: 0.2%;
  height: 10px;
  position: absolute;
  right: 10%;
}