.star {
  width: 25px;
  height: 25px;
  background-size: container;
  background-repeat: no-repeat;
  border: none; 
  float: right;
}

.playingStar {
  width: 50px;
  height: 50px;
  position: relative;
  left: 30%;
  bottom: 60px;
}

.starDefault{
  background-image: url(../img/star.svg);
}

.starActive{
  background-image: url(../img/.starActive.svg);
} 